.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}

.questionGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
}

.questionLabel {
  font-size: 0.9rem;
  color: var(--color-text-primary);
}

.toggleSwitch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.toggleLabel {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid var(--color-border-light);
}

.buttonGroup {
    display: flex;
    gap: 0.75rem;
}

.button {
  font-weight: 600;
  padding: 0.625rem 1.25rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.saveButton {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.saveButton:hover {
  background-color: var(--color-primary);
}

.previousButton {
    background-color: transparent;
    color: var(--color-text-secondary);
    border: none;
}

.previousButton:hover {
    background-color: var(--color-background-secondary);
}