
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-white);
  z-index: 10;
}

.modalHeader {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.5rem;
}

.modalTitle {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.modalSubtitle {
  margin: 0;
  font-size: 1rem;
  opacity: 0.9;
}

.modalBody {
    padding: 2rem;
}
